{% extends 'shared/base.html' %}

{% block content %}
    <div class="container-box">
        <section class="blogs box">
            <div>
                <a href="#">
                    <h4>New Surface Pro 7</h4>
                </a>
                <p>
                    See how Katie Sowers, Asst. Coach for the 49ers,
                    uses Surface Pro 7 to put her plans into play.
                </p>
            </div>
            <div>
                <a href="#">
                    <h4>New Surface Pro 7</h4>
                </a>
                <p>
                    See how Katie Sowers, Asst. Coach for the 49ers,
                    uses Surface Pro 7 to put her plans into play.
                </p>
            </div>
            <div>
                <a href="#">
                    <h4>New Surface Pro 7</h4>
                </a>
                <p>
                    See how Katie Sowers, Asst. Coach for the 49ers,
                    uses Surface Pro 7 to put her plans into play.
                </p>
            </div>
            <div>
                <a href="#">
                    <h4>New Surface Pro 7</h4>
                </a>
                <p>
                    See how Katie Sowers, Asst. Coach for the 49ers,
                    uses Surface Pro 7 to put her plans into play.
                </p>
            </div>
        </section>
    </div>

{% endblock %}