.container-pic {
    width: 100%;
    min-height: 350px;
    background-image: url("/static/img/blue_wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.section {
    text-align: center;
}

.section h2 {
    font-size: 40px;
    margin-top: 50px;
}

.section h3 {
    margin-top: 20px;
}

.section p {
    font-size: 20px;
    font-weight: bold;
}

.section a {
    margin-top: 80px;
}

.box div {
    background-color: #fff;
    border: 2px #cccccc solid;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.container-3 {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
}

/*.container-3-box {*/
/*    width: 30%;*/
/*    height: 200px;*/
/*    flex-basis: 32%;*/
/*}*/

.section-title {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar {
    margin-top: 15px;
}

footer {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    color: #A9A9A9;
    background: #000000;
    text-align: center;
    position: relative;
    bottom: 0;
}

footer p {
    padding-top: 10px;
}