{% extends 'shared/base.html' %}

{% block content %}
    {% if blogs %}
        {% for blog in blogs %}
            <div class="container-3 box">
                <div class="container-3-box">
                    <h4>{{ blog.author }}</h4>
                    <h3><a href="{% url 'blog post details' blog.id %}">{{ blog.title }}</a></h3>
                    <p>{{ blog.content }}</p>
                </div>
                {#                <div class="container-3-box">#}
                {#                    <h3>Box Eight</h3>#}
                {#                    <p>Lorem, , ipsum dolor sit amet ipsum dolor sit amet consectetur adipisicing elit. Nemo, porro?</p>#}
                {#                </div>#}
                {#                <div class="container-3-box">#}
                {#                    <h3>Box Nine</h3>#}
                {#                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, porro?</p>#}
                {#                </div>#}
                {#                <div class="container-3-box">#}
                {#                    <h3>Box Ten</h3>#}
                {#                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, porro?</p>#}
                {#                </div>#}
                {#                <div class="container-3-box">#}
                {#                    <h3>Box Eleven</h3>#}
                {#                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, porro?</p>#}
                {#                </div>#}
                {#                <div class="container-3-box">#}
                {#                    <h3>Box Twelve</h3>#}
                {#                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, porro?</p>#}
                {#                </div>#}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}